#testimonials h2 {
  color: #ffffff;
}
body.light-mode #testimonials .carousel-item .card {
  background-color: #f5f5f5 !important;
}

#testimonials .carousel-control-prev,
#testimonials .carousel-control-next {
  width: 15%;
}

body.light-mode #testimonials h2,
body.light-mode #testimonials .carousel-item .card {
  color: #000000 !important;
  background-color: #ffffff;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  background: transparent;
  border: none;
  font-size: 4rem;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 1;
}
